<h1>User's Table</h1>
<table>
  <tr>
    <th>Id</th>
    <th>Full Name</th>
    <th>Email</th>
    <th>Role</th>
    <th>Email Validated</th>
    <th>Institution</th>
    <th>Institution Contact Phone</th>
    <th>Association Confirmed</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.full_name %></td>
      <td><%= user.email %></td>
      <td><%= user.role %></td>
      <td><%= user.confirmed_at ? 'true' : 'false' %></td>
      <td><%= user.institution.name %></td>
      <td><%= user.institution.contact_phone %></td>
      <td><%= (user.approved) ? 'Approved' : (button_to "Approve User", admin_approve_user_path(user.id), method: :patch) %></td>
    </tr>
  <% end %>
</table>
