<h1>Propose a New Experiment</h1>
<div class='new-experiment-form'>
  <%= form_tag("/experiments", method: "post") do %>
    <div class='experiment-form-fields'>
      <div class='form-text'>
        <%= label_tag(:experiment_title, "Title") %>
        <%= text_field_tag(name="experiment[title]", @experiment.title || '')%>
      </div>
      <div class='form-textarea'>
        <%= label_tag(:experiment_description, "Description") %>
        <%= text_area_tag(name="experiment[description]", @experiment.description || '') %>
      </div>
      <%= label_tag(:experiment_tags, "Category Tags") %>
      <div class='new-experiment-tags-div'>
        <div class='tags-div-left'>
          <ul class='tag-list'>
            <% @tags_left.each do |tag| %>
              <li>
                <%=check_box_tag(name="tags[][#{tag.id}]") %>
                <%= label_tag(name="tags[][#{tag.id}]", "#{tag.name}") %>
              </li>
            <% end %>
          </ul>
        </div>
        <div class='tags-div-right'>
          <ul class='tag-list'>
            <% @tags_right.each do |tag| %>
              <li>
                <%=check_box_tag(name="tags[][#{tag.id}]") %>
                <%= label_tag(name="tags[][#{tag.id}]", "#{tag.name}") %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class='materials-form-fields'>
      <h2>Materials:</h2>
      <table id='materials-table' style='display:none'>
        <tr>
          <th>Quantity</th>
          <th>Units</th>
          <th>Material Name</th>
        </tr>
      </table>
      <button id='add-material'>Add A Material</button>
    </div>
    <div class='procedure-form-fields'>
      <h2>Procedure Steps:</h2>
      <ol id='procedures-list' style='display:none'>
      </ol>
      <button id='add-procedure-step'>Add A Procedural Step</button>
    </div>
    <div class='data-types-form-fields'>
      <h2>Data to be collected:</h2>
      <table id='data-types-table' style='display:none'>
        <tr>
          <th>Name of Data (including units)</th>
          <th>Type of Data</th>
        </tr>
      </table>
      <button id='add-data-type'>Add A Data Type</button>
    </div>
    <div class='form-submit'>
      <%= submit_tag("Propose Experiment") %>
    </div>
  <% end %>
</div>

<script>
$(document).ready(function() {

  const newMaterialFormRow = () => {
    return (
      `<tr>
        <td><%= number_field_tag(name="material[][quantity]") %></td>
        <td><%= text_field_tag(name="material[][units]") %></td>
        <td><%= text_field_tag(name="material[][name]") %></td>
      </tr>`
    )
  };

  const newProcedureListItem = () => {
    return (
      `<li>
        <%= text_area_tag(name="procedure[][description]") %>
      </li>`
    )
  };

  const newDataTypeFormRow = () => {
    return (
      `<tr>
        <td><%= text_field_tag(name="experiment[data][][name]") %></td>
        <td><%= select_tag(name="experiment[data][][type]", options_for_select([['Text', 'text'], ['Integer', 'integer'], ['Decimal', 'float']])) %></td>
      </tr>`
    )
  }

  $('#add-material').on('click', function (event) {
    const {currentTarget} = event;
    const materialsTable = $('#materials-table');
    event.preventDefault();
    console.log("Material Button Pushed");
    materialsTable.show();
    materialsTable.append(newMaterialFormRow());
  });

  $('#add-procedure-step').on('click', function (event) {
    const {currentTarget} = event;
    const proceduresList = $('#procedures-list');
    event.preventDefault();
    console.log("Procedure Button Pushed");
    proceduresList.show();
    proceduresList.append(newProcedureListItem());
  });

  $('#add-data-type').on('click', function (event) {
    const {currentTarget} = event;
    const dataTypesTable = $('#data-types-table');
    event.preventDefault();
    console.log("Data Types Button Pushed");
    dataTypesTable.show();
    dataTypesTable.append(newDataTypeFormRow());
  });
})
</script>
