<h3>You have a request for account verification from:</h3>
<p>ID: <%= @user.id %></p>
<p>Name: <%= @user.full_name %></p>
<p>Role: <%= @user.role %></p>
<p>Institution Information</p>
<p>Name: <%= @user.institution.name %></p>
<p>Country: <%= @user.institution.country %></p>
<p>City: <%= @user.institution.city %></p>
<p>Street: <%= @user.institution.street %></p>
<p>Postal Code: <%= @user.institution.postal_code %></p>
<p>Contact Phone: <%= @user.institution.contact_phone %></p>
